/* App容器样式 */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f6f9;
  
  margin: 0; /* 去除默认外边距 */
  background-image: url('11.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Header容器样式 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

/* NFT画廊容器样式 */
.nft-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* 每个NFT项的卡片样式 */
.listBox {
  width: 200px;
  height: 300px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}

.listBox .listImg {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.listBox .listImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.listBox .listTitle {
  width: calc(100% - 10px);
  padding: 3px 3px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 16px;
}

.listBox .listRemark {
  width: calc(100% - 10px);
  padding: 0 5px;
  margin:  0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.listBox .listBtnBox {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.listBox .listBtnBox button {
  height: 35px;
  width: 80%;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.listBox .listBtnBox button:disabled {
  background-color: #ddd;
}
h1{
  color: #007bff;
}
h2{
  color: #007bff;
}
h3{
  color: #007bff;
}
h4{
  color: #007bff;
}
h5{
  color: #007bff;
}
button{
  color: black;
}
body {
  margin: 0; 
  background-image: url('11.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

p{
 color: #4a0cda;

}
